.panell{
    border-color: beige;
    border-style: solid;
    display: inline-block;
    margin-left: 8%;
}
body{
    background-image: url(../img/space.jpg);
    color: beige;
}
h1{
    color: beige;
}
.rocket{
    width: 60px;
    height: 60px;
}